/* ----------RESET---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 2.5rem;
}

header, .banner, .solutions, .about, .contact {
    padding-left: 0.5%;
    padding-right: 0.5%;
}

/* ----------LAYOUT---------- */

.grid-container {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1.3fr 1fr repeat(2, 0.5fr) 0.1fr;
    gap: 0px 0px;
    grid-template-areas:"header"
                        "banner"
                        "solutions"
                        "about"
                        "contact"
                        "footer";
}

/* ----------HEADER---------- */

header {
    background-color: black;
    grid-area: header;
    display: flex;

    align-items: center;
}

.menu li{
    display: inline;
}

.menu a {
    color: white;
    border: rgba(106, 105, 105, 0.466) 1px solid;
    padding: 10px 15px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
    background-color: rgba(106, 105, 105, 0.466);
    border-radius: 20px;
}

/* ----------INDEX---------- */

/* BANNER */

.banner {
    grid-area: banner;
    display: flex;
    background-image: url(../img/home-banner.jpg);
    background-size: cover;
    flex-flow: column wrap;
    justify-content: center;
}

.banner h1, .banner h2 {
    color: white;
    font-size: 3.7rem;
}

.banner p {
    color: white;
}

/* FIN BANNER */

/* NUESTRAS SOLUCIONES */

.solutions {
    background-color: black;
    grid-area: solutions;
    padding-top: 2%;
    padding-bottom: 2%;
}

.solutions h2, h3, p{
    color: white;
}

.row-solutions span {
    background-color: #e8336b;
}

.flex-solutions {
    display: flex;
    gap: 2%;
}

.flex-solutions h3 {
    text-align: center;
}

.flex-solutions p {
    text-align: center;
}

.item-solutions img {
    padding-bottom: 25px;
    display: block;
    margin: auto;
}

/* FIN NUESTRAS SOLUCIONES */

/* SOBRE NOSOTROS */

.about {
    background-color: black;
    grid-area: about;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%
}

.about h2, p, a {
    color: white;
}

.about span {
    background-color: #e8336b;
}

.about a {
    padding: 13px 20px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    margin-top: 15px;
    background-color: #6cbed4;
}

/* FIN SOBRE NOSOTROS */

/* CONTACTO */

.contact {
    background-color: black;
    grid-area: contact;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contact h2, p {
    color: white;
}

.contact p {
    margin-top: 0.7%;
    margin-bottom: 0.7%;
}

.form {
    margin-top: 0.7%
}

.form p {
    margin-bottom: 0.7%;
}

input {
    display: block;
    padding: 2%;
    margin: 1% 1% 3%;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.447);
    border-color: rgba(128, 128, 128, 0.447);
    color: white;
}

textarea {
    display: block;
    padding: 2%;
    margin: 1% 1% 3%;
    width: 70%;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.447);
    border-color: rgba(128, 128, 128, 0.447);

}

.form ::placeholder {
    color: white;
}

/* FIN CONTACTO */

/* FOOTER */

footer {
    background-color: black;
    grid-area: footer;
}

footer img {
    display: block;
    margin: auto;
}